*{
    margin:0;
    padding: 0;
}
#navbar{
    width: 100%;
    height: 70px;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar > p > a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 65%;
    margin-bottom: 30px;
}
#sidebar{
    width: 30%;
    border: 2px solid teal;
    height: 100vh;
}

.image{
    width: 200px;
}
.cards{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;    
    padding: 25px 10px;
    text-align: center;
}
.deleteBtn{
    color: teal;
    font-weight: 700;
   padding: 10px 20px;
   margin-right: 5px;
}
 .editBtn{
    color: teal;
    font-weight: 700;
    padding: 10px 20px;
    margin-left: 5px;
}
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20rem; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .EditFormTag{
    width: 90%;
    padding: 20px;
    border: 1px solid teal;
  }

  .editBrandInput,.EditPriceInput, .editImageInput{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.editSaveBtn{
    color: teal;
    font-weight: 700;
     padding: 10px 15px;
     width: 97.7%;
     cursor: pointer;
}
